
{% extends 'PipiTrainingBundle::base.html.twig' %}

{% block title %} Domorosły inwestor - O mnie {% endblock %}


{% block pageContainer %}
    <div class="container">
        <!-- Example row of columns -->
        <div class="row extra-padding">
            <div class="col-md-12">
                <article class="about clearfix">
                    <div class="bio">
                        <h1>Janek Złotówka</h1>
                        <h4>To jest przeciążenie</h4>
                    </div>

                    <img class="img-thumbnail" src="{{ asset('bundles/pipitraining/img/me.jpg')}}" alt="">
                </article>
            </div>
        </div>

    </div> <!-- /container -->
{% endblock %}
